[project]
	description = Systemiki <3
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/RafalRybak92
[access "refs/for/refs/*"]
	read = group user/RafalRybak92
	push = group user/RafalRybak92
	label-Code-Review = -2..+2 group user/RafalRybak92
	label-Verified = -1..+1 group user/RafalRybak92
	rebase = group user/RafalRybak92
	removeReviewer = group user/RafalRybak92
	submit = group user/RafalRybak92
[access "refs/heads/*"]
	read = group user/RafalRybak92
	create = group user/RafalRybak92
	push = +force group user/RafalRybak92
	pushMerge = group user/RafalRybak92
[access "refs/tags/*"]
	push = +force group user/RafalRybak92
	pushTag = group user/RafalRybak92
	pushSignedTag = group user/RafalRybak92
